body {
  font-family: Helvetica, Arial, sans-serif;
  color: #665544;
  padding: 0 15% 0 15%;}
			
h1{
  padding: 12px;
  line-height: 2em;
  text-align:center;
  color:blue;
  font-family:'Poppins';
  font-size:400%;}

h2{
  padding: 12px;
  line-height: 2em;}

p {
  padding: 12px;
  line-height: 2em;
  font-family:'Poppins';
  font-weight: normal;
  font-style: normal;
  font-size:200%;}

a, a:hover, a:visited {
  color: #665544;}


i {color:darkgreen;}
